<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <namespace name="VideoWall.Data.Kinect.Implementation"/>
    <namespace name="VideoWall.Data.Kinect.Interfaces"/>
    <assembly name="VideoWall.Data"/>

    <namespace name="VideoWall.ServiceModels.Apps.Implementation"/>
    <namespace name="VideoWall.ServiceModels.Apps.Interfaces"/>
    <namespace name="VideoWall.ServiceModels.DemoMode.Implementation"/>
    <namespace name="VideoWall.ServiceModels.DemoMode.Interfaces"/>
    <namespace name="VideoWall.ServiceModels.HandCursor.Implementation"/>
    <namespace name="VideoWall.ServiceModels.HandCursor.Interfaces"/>
    <namespace name="VideoWall.ServiceModels.Player.Implementation"/>
    <namespace name="VideoWall.ServiceModels.Player.Interfaces"/>
    <assembly name="VideoWall.ServiceModels"/>

    <namespace name="VideoWall.ViewModels"/>
    <namespace name="VideoWall.ServiceModels.Apps"/>
    <namespace name="VideoWall.ViewModels.Cursor"/>
    <namespace name="VideoWall.ViewModels.HitButton"/>
    <namespace name="VideoWall.ViewModels.Menu"/>
    <namespace name="VideoWall.ViewModels.Skeletons"/>
    <assembly name="VideoWall.ViewModels"/>

    <container>
      <types>

        <type type="IDemoModeService" mapTo="DemoModeService"/>
        <type type="IAppController" mapTo="AppController"/>
        <type type="IHandCursorPositionCalculator" mapTo="HandCursorPositionCalculator"/>
        <type type="IPlayer" mapTo="Player"/>

        <!-- FileSkeletonReader -->
        <!-- AutoPlayFileSkeletonReader -->
        <!-- KinectSkeletonReader -->
        <type type="ISkeletonReader" mapTo="AutoPlayFileSkeletonReader">
          <lifetime type="singleton"/>
        </type>

        <!-- KinectCursorViewModel -->
        <!-- MouseCursorViewModel -->
        <type type="ICursorViewModel" mapTo="MouseCursorViewModel">
          <lifetime type="singleton"/>
        </type>

        <!--
        The RelativePadding defines the area where the hand in the window can be used relative to the kinect input.
        This padding is for right handed people, from which the left handed can be generated (mirroring at the x-axis).
        TODO: reference documentation
        -->
        <type type="RelativePadding" mapTo="RelativePadding">
          <constructor>
            <param name="left" value="0.45"/>
            <param name="top" value="0.1"/>
            <param name="right" value="0.3"/>
            <param name="bottom" value="0.49"/>
          </constructor>
        </type>

        <type type="ExtensionsConfig" mapTo="ExtensionsConfig">
          <constructor>
            <param name="extensionsDirectoryPath" value="../../../Extensions"/>
          </constructor>
        </type>

        <type type="IDemoModeConfig" mapTo="DemoModeConfig">
          <constructor>
            <param name="backgroundColors">
              <array>
                <value value="#ff0065a3"/>
                <value value="#ff6e1c50"/>
                <value value="#ff548c86"/>
                <value value="#ff7b6951"/>
                <value value="#ff00738d"/>
                <value value="#ffbabd5d"/>
              </array>
            </param>
            <param name="skeletonCheckTimeSpan" value="00:00:00.010"/>
            <param name="changeAppTimeSpan" value="00:00:15"/>
            <param name="fromActiveToDemoModeTimeSpan" value="00:00:10"/>
            <param name="countdownTimeSpan" value="00:00:04.999"/>
            <param name="skeletonTrackingTimeoutTimeSpan" value="00:00:00.5"/>
          </constructor>
        </type>

        <type type="Player" mapTo="Player">
          <lifetime type="singleton"/>
        </type>

        <type type="MenuViewModel" mapTo="MenuViewModel">
          <lifetime type="singleton"/>
        </type>

        <type type="KinectReplayFile" mapTo="KinectReplayFile">
          <lifetime type="singleton"/>
          <constructor>
            <param name="path" value="..\..\..\..\..\..\kinect_records\20120312_lukas\_1.replay"/>
          </constructor>
        </type>
      </types>
    </container>

  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
