<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <namespace name="VideoWall.Data.Kinect" />
    <assembly name="VideoWall.Data" />
    
    <namespace name="VideoWall.ServiceModels.Player" />
    <namespace name="VideoWall.ServiceModels.HandCursor" />
    <assembly name="VideoWall.ServiceModels" />
    
    <namespace name="VideoWall.ViewModels" />
    <namespace name="VideoWall.ViewModels.HitButton" />
    <namespace name="VideoWall.ViewModels.Cursor" />
    <namespace name="VideoWall.ViewModels.Menu" />
    <assembly name="VideoWall.ViewModels" />

    <container>
      <types>
        <!-- FileSkeletonReader -->
        <!-- AutoPlayFileSkeletonReader -->
        <!-- KinectSkeletonReader -->
        <type type="ISkeletonReader" mapTo="KinectSkeletonReader">
          <lifetime type="singleton" />
        </type>
        <!-- KinectCursorViewModel -->
        <!-- MouseCursorViewModel -->
        <type type="ICursorViewModel" mapTo="KinectCursorViewModel">
          <lifetime type="singleton" />
        </type>
        <type type="Player" mapTo="Player">
          <lifetime type="singleton" />
        </type>
        <type type="MenuViewModel" mapTo="MenuViewModel">
          <lifetime type="singleton" />
        </type>

        <type type="KinectReplayFile" mapTo="KinectReplayFile">
          <lifetime type="singleton" />
          <constructor>
            <param name="path" value="..\..\..\..\..\..\kinect_records\20120312_lukas\_2.replay" />
          </constructor>
        </type>
      </types>
    </container>

  </unity>
</configuration>
