<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="Data.Kinect" />
    <assembly name="Data" />
    
    <namespace name="Services.Player" />
    <namespace name="Services.Recorder" />
    <assembly name="Services" />
    
    <namespace name="ViewModels" />
    <assembly name="ViewModels" />
    
    <namespace name="Views" />
    <assembly name="Views" />

    <container>
      <types>
        <type type="ISkeletonReader" mapTo="AutoPlayFileSkeletonReader">
          <lifetime type="singleton" />
        </type>
        <!--<register type="ISkeletonReader" mapTo="FileSkeletonReader" /> -->
        <type type="KinectReplayFile" mapTo="KinectReplayFile">
          <lifetime type="singleton" />
          <constructor>
            <param name="path" value="..\..\..\..\..\..\kinect_records\20120312_lukas\_3.replay" />
          </constructor>
        </type>
      </types>
    </container>

  </unity>

</configuration>
