<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <namespace name="PosterApp.Data" />
    <assembly name="PosterApp.Data" />

    <namespace name="PosterApp.ServiceModels" />
    <assembly name="PosterApp.ServiceModels" />

    <namespace name="PosterApp.ViewModels" />
    <assembly name="PosterApp.ViewModels" />

    <namespace name="PosterApp.Views" />
    <assembly name="PosterApp.Views" />

    <container>
      <types>
        
      </types>
    </container>

  </unity>
</configuration>