<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoWall.ViewModels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VideoWall.ViewModels.Properties.Settings>
            <setting name="hsrBlau" serializeAs="String">
                <value>#FF0065A3</value>
            </setting>
            <setting name="hsrMalve" serializeAs="String">
                <value>#FF6E1C50</value>
            </setting>
            <setting name="hsrZuerichsee" serializeAs="String">
                <value>#FF548C86</value>
            </setting>
            <setting name="hsrRiet" serializeAs="String">
                <value>#FF7B6951</value>
            </setting>
            <setting name="hsrSeegras" serializeAs="String">
                <value>#FF00738D</value>
            </setting>
            <setting name="hsrPlatane" serializeAs="String">
                <value>#FFBABD5D</value>
            </setting>
        </VideoWall.ViewModels.Properties.Settings>
    </applicationSettings>
</configuration>