<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Kinect.Wpf" version="1.5.0" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="KinectToolbox" version="1.1.1.2" />
  <package id="log4net" version="2.0.0" />
  <package id="Prism" version="4.1.0.0" />
  <package id="Unity" version="2.1.505.0" />
</packages>